<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlk.blog.article.mapper.CategoryMapper">

    <!-- 封装分类及分类中的标签信息-->
    <resultMap id="categoryLableMap" type="Category">
        <!-- 映射主键-->
        <id column="id" property="id" />
        <!-- 其他字段与属性一一映射-->
        <result column="name" property="name" />
        <collection property="labelList" javaType="list" ofType="Label">
            <id column="label_id" property="id" />
            <result column="label_name" property="name" />
        </collection>
    </resultMap>

    <!--  查询正常状态的分类及分类下的所有标签 -->
    <select id="findCategoryAndLabel" resultMap="categoryLableMap">
        SELECT
            m1.id,
            m1.`name`,
            m2.id label_id,
            m2.`name` label_name
        FROM
            tlk_category m1
                LEFT JOIN tlk_label m2 ON m1.id = m2.category_id
        WHERE
            m1.`status` = 1
        ORDER BY
            m1.sort
    </select>
</mapper>
