<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlk.blog.question.mapper.ReplyMapper">

    <!--    通过问题id查询对应的所有一级回答信息-->
    <select id="findByQuestionId" resultMap="replyResultMap">
        SELECT * FROM tlk_reply WHERE parent_id = -1
                                   AND question_id = #{questionId}
        ORDER BY create_date DESC
    </select>
    <!--是查询子评论-->
    <select id="findByParentId" resultMap="replyResultMap">
        SELECT * FROM tlk_reply WHERE parent_id = #{id}
    </select>
    <resultMap id="replyResultMap" type="Reply">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="user_id" property="userId" />
        <result column="nick_name" property="nickName" />
        <result column="user_image" property="userImage" />
        <result column="question_id" property="questionId" />
        <result column="md_content" property="mdContent" />
        <result column="html_content" property="htmlContent" />
        <result column="create_date" property="createDate" />
        <collection property="children" javaType="list" ofType="Reply"
                    column="id" select="findByParentId" />
    </resultMap>
</mapper>
